{% load static %}

<!DOCTYPE html>
<html lang="es"> 
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Éxito</title> 
    <link rel="stylesheet" href="{% static 'success.css' %}"> 
</head> 
<body> 
    <div class="success-container"> 
        <h2>¡Gracias por contactarnos!</h2> 
        <p>Hemos recibido tu mensaje y nos pondremos en contacto contigo pronto.</p> 
        <a href="/">Volver al inicio</a> 
    </div> 
</body> 
</html>